BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
ReferenceAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: false
IncludeBlocks: Preserve
AccessModifierOffset: -4
IndentCaseLabels: false
